
-e .
beartype


boto3
click
geojson
GitPython
graphviz
hypothesis
jinja2
jira
metaflow
natsort
numpy
pandas
pyarrow
pydantic
pydantic-settings
pyinstrument
ray==2.9.2
slack_sdk
tenacity
torch
torchvision
tqdm
watchtower
